$fontFamily: Arial, Helvetica, sans-serif;

$color: #54b99f;

$buttonActiveColor: #3bb8a3;

$grayColor: rgb(204, 204, 204);

$lightColor: rgb(175, 215, 232);

$inputShadow: rgba(25, 161, 219, 0.247059) 0px 0px 5px 0px;

$msgBgColor: #3bb8a3;
